body {
    background-image: url("cheeseburger-seamless-bg.png");
    background-attachment: fixed;
}

strong {
    font-weight: bold;
    color: rgb(0, 0, 201);
}

.container {
    background-color: white;
    width: 79%;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-bottom: 10px;
    padding-left: 3%;
    padding-right: 3%;
}

@supports (-webkit-text-stroke: 2px black) {
    h1 {
        -webkit-text-stroke: 2px black;
        -webkit-text-fill-color: #FFC72C;
    }
}

.chart-titles {
    font-weight: "bold";
    font-family: 'Trebuchet MS', sans-serif;
}

#banner-container {
    justify-content: space-between;
    font-weight: "bold";
    font-family: 'Trebuchet MS', sans-serif;
    z-index: 2;
    background-image: url("banner.png");
    background-repeat: no-repeat;
    background-color: #27251F;
    background-position: center;
}

#title {
    font: 25px 'Arial', sans-serif;
}

#subtitle {
    justify-content: space-between;
    padding-top: 0;
    margin-top: 0;
}

p.banner-text {
    color: whitesmoke
}

#logo {
    background-color: red;
    align-items: center;
    justify-content: center;
}

#logo24h {
    background-color: black;
    align-items: center;
    justify-content: center;
}

#smolchart-container {
    align-items: center;
}

.annotationBox {
    font-size: 15;
    font-weight: "bold";
    font-family: 'Trebuchet MS', sans-serif;
    text-align: center;
    color:	#3e3d3b;
}

.centerBox {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.entry-footer div p {
    word-wrap: break-word;
}

.entry-footer footer p {
    word-wrap: break-word;
}

footer {
    background-color: RGB(245,245,245,0.85);
    height: 100px;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 85%;
    margin: auto;
    
}

/* Solid border */
hr.solid {
    border-top: 3px solid #bbb;
    margin: 0;
}

hr.solid-bottom {
    border-top: 3px solid #bbb;
    margin: auto;
    width: 85%;
}

hr.soft {
    border-top: 1px solid rgb(179, 179, 179);
    width: 60%;
}